dashboard/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
dashboard/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
dashboard/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
dashboard/obj/Debug/Setup/TSetupWizardView.g.i.cs
dashboard/obj/Debug/Setup/TSetupWizardView.g.cs
dashboard/obj/Debug/Setup/TSetupPcLockerEditorView.g.i.cs
dashboard/obj/Debug/Setup/TSetupPcLockerEditorView.g.cs
dashboard/obj/Debug/Setup/TSetupPage6View.g.i.cs
dashboard/obj/Debug/Setup/TSetupPage6View.g.cs
dashboard/obj/Debug/Setup/TSetupPage5View.g.i.cs
dashboard/obj/Debug/Setup/TSetupPage5View.g.cs
dashboard/obj/Debug/Setup/TSetupPage5-2View .g.i.cs
dashboard/obj/Debug/Setup/TSetupPage5-2View .g.cs
dashboard/obj/Debug/Setup/TSetupPage4View.g.i.cs
dashboard/obj/Debug/Setup/TSetupPage4View.g.cs
dashboard/obj/Debug/Setup/TSetupPage3View.g.i.cs
dashboard/obj/Debug/Setup/TNewDeviceAddingPage3View.g.i.cs
dashboard/obj/Debug/Setup/TNewDeviceAddingPage3View.g.cs
dashboard/obj/Debug/Setup/TNewDeviceAddingPage2View.g.i.cs
dashboard/obj/Debug/Setup/TNewDeviceAddingPage2View.g.cs
dashboard/obj/Debug/Setup/TNewDeviceAddingPage1View.g.i.cs
dashboard/obj/Debug/Setup/TNewDeviceAddingPage1View.g.cs
dashboard/obj/Debug/Setup/THIOBridge.g.i.cs
dashboard/obj/Debug/Setup/THIOBridge.g.cs
dashboard/obj/Debug/HIO_MarkupCompile.lref
dashboard/obj/Debug/HIO_MarkupCompile.cache
dashboard/obj/Debug/HIO.csprojResolveAssemblyReference.cache
dashboard/obj/Debug/HIO.csproj.CoreCompileInputs.cache
dashboard/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
dashboard/obj/Debug/GeneratedInternalTypeHelper.g.cs
dashboard/obj/Debug/Extentions/TPinInputExtensionView.g.i.cs
dashboard/obj/Debug/Extentions/TPinInputExtensionView.g.cs
dashboard/obj/Debug/Extentions/TLinkItemView.g.i.cs
dashboard/obj/Debug/Extentions/TLinkItemView.g.cs
dashboard/obj/Debug/Extentions/TExtentionMenuView.g.i.cs
dashboard/obj/Debug/Extentions/TExtentionMenuView.g.cs
dashboard/obj/Debug/Extentions/TExtentionManageView.g.i.cs
dashboard/obj/Debug/Extentions/TExtentionManageView.g.cs
dashboard/obj/Debug/Extentions/TExtentionGenPassView.g.i.cs
dashboard/obj/Debug/Extentions/TExtentionGenPassView.g.cs
dashboard/obj/Debug/Extentions/TExtention13View.g.i.cs
dashboard/obj/Debug/Extentions/TExtention13View.g.cs
dashboard/obj/Debug/Extentions/TExtention11View.g.i.cs
dashboard/obj/Debug/Extentions/TExtention11View.g.cs
dashboard/obj/Debug/Extentions/TExtention10View.g.i.cs
dashboard/obj/Debug/Extentions/TExtention10View.g.cs
dashboard/obj/Debug/Extentions/TExtention09View.g.i.cs
dashboard/obj/Debug/Extentions/TExtention09View.g.cs
dashboard/obj/Debug/Extentions/TExtention08View.g.i.cs
dashboard/obj/Debug/Extentions/TExtention08View.g.cs
dashboard/obj/Debug/Extentions/TExtention07View.g.i.cs
dashboard/obj/Debug/Extentions/TExtention07View.g.cs
dashboard/obj/Debug/Extentions/TExtention06aView.g.i.cs
dashboard/obj/Debug/Extentions/TExtention06aView.g.cs
dashboard/obj/Debug/Extentions/TExtention02View.g.i.cs
dashboard/obj/Debug/Extentions/TExtention02View.g.cs
dashboard/obj/Debug/Controls/TWindowToolbar.g.i.cs
dashboard/obj/Debug/Controls/TWindowToolbar.g.cs
dashboard/obj/Debug/Controls/TSignalPresenter.g.i.cs
dashboard/obj/Debug/Controls/TSignalPresenter.g.cs
dashboard/obj/Debug/Controls/TSideBarButton.g.i.cs
dashboard/obj/Debug/Controls/TSideBarButton.g.cs
dashboard/obj/Debug/Controls/TSideBar.g.i.cs
dashboard/obj/Debug/Controls/TSideBar.g.cs
dashboard/obj/Debug/Controls/TSearchbox.g.i.cs
dashboard/obj/Debug/Controls/TSearchbox.g.cs
dashboard/obj/Debug/Controls/TMessageBoxView.g.i.cs
dashboard/obj/Debug/Controls/TMessageBoxView.g.cs
dashboard/obj/Debug/Controls/TInteractiveButton.g.i.cs
dashboard/obj/Debug/Controls/TInteractiveButton.g.cs
dashboard/obj/Debug/Controls/TInnerMessageBox.g.i.cs
dashboard/obj/Debug/Controls/TInnerMessageBox.g.cs
dashboard/obj/Debug/Controls/TBatteryPresenter.g.i.cs
dashboard/obj/Debug/Controls/TBatteryPresenter.g.cs
dashboard/obj/Debug/Controls/ListBox.baml
dashboard/obj/Debug/Controls/Expander.baml
dashboard/obj/Debug/App.g.i.cs
dashboard/obj/Debug/App.g.cs
dashboard/.vs/HIO/v15/Server/sqlite3/storage.ide
dashboard/.vs/HIO/v15/Server/sqlite3/db.lock
dashboard/.vs/HIO/v15/.suo
dashboard/obj/Debug/ViewModels/TMainView.g.i.cs
dashboard/obj/Debug/ViewModels/TMainView.g.cs
dashboard/obj/Debug/ViewModels/Settings/TSettingManagerView.g.i.cs
dashboard/obj/Debug/ViewModels/Settings/TSettingManagerView.g.cs
dashboard/obj/Debug/ViewModels/Settings/TMyHIO.g.i.cs
dashboard/obj/Debug/ViewModels/Settings/TMyHIO.g.cs
dashboard/obj/Debug/ViewModels/Settings/TImportView.g.i.cs
dashboard/obj/Debug/ViewModels/Settings/TImportView.g.cs
dashboard/obj/Debug/ViewModels/Settings/TDeviceView.g.i.cs
dashboard/obj/Debug/ViewModels/Settings/TDeviceView.g.cs
dashboard/obj/Debug/ViewModels/Settings/NewDeviceAdding/TAddNewDeviceView.g.i.cs
dashboard/obj/Debug/ViewModels/Settings/NewDeviceAdding/TAddNewDeviceView.g.cs
dashboard/obj/Debug/ViewModels/Security/TSetupPersonalPinView.g.i.cs
dashboard/obj/Debug/ViewModels/Accounts/TAddNewAccountContent.g.i.cs
dashboard/obj/Debug/ViewModels/Accounts/TAddNewAccountContent.g.cs
dashboard/obj/Debug/ViewModels/Accounts/TAccountManagerView.g.i.cs
dashboard/obj/Debug/ViewModels/Accounts/TAccountManagerView.g.cs
dashboard/obj/Debug/ViewModels/Accounts/TAccountItemView.g.i.cs
dashboard/obj/Debug/Setup/TSetupPage3-2View.g.cs
dashboard/obj/Debug/Setup/TSetupPage2View.g.i.cs
dashboard/obj/Debug/Setup/TSetupPage2View.g.cs
dashboard/obj/Debug/Setup/TSetupPage1View.g.i.cs
dashboard/obj/Debug/Setup/TSetupPage1View.g.cs
dashboard/obj/Debug/Setup/TSetupImportView.g.i.cs
dashboard/obj/Debug/Setup/TSetupImportView.g.cs
dashboard/obj/Debug/Setup/TSetupImportCompleteView.g.i.cs
dashboard/obj/Debug/Setup/TNewDeviceAddingPage4View.g.i.cs
dashboard/obj/Debug/Setup/TNewDeviceAddingPage4View.g.cs
dashboard/obj/Debug/Setup/TNewDeviceAddingPage3_2View.g.i.cs
dashboard/obj/Debug/Setup/TNewDeviceAddingPage3_2View.g.cs
dashboard/obj/Debug/ViewModels/Security/TPersonalPinEditorView.g.cs
dashboard/obj/Debug/ViewModels/Security/TDisablePersonalPinView.g.i.cs
dashboard/obj/Debug/ViewModels/Security/TDisablePersonalPinView.g.cs
dashboard/obj/Debug/ViewModels/Security/TApplicationPasswordEditorView.g.i.cs
dashboard/obj/Debug/ViewModels/Security/TApplicationPasswordEditorView.g.cs
dashboard/obj/Debug/ViewModels/Notify/TAboutView.g.i.cs
dashboard/obj/Debug/ViewModels/Notify/TAboutView.g.cs
dashboard/obj/Debug/ViewModels/MagicLock/TPcLockerEditorView.g.i.cs
dashboard/obj/Debug/ViewModels/Accounts/TAccountItemView.g.cs
dashboard/obj/Debug/ViewModels/Accounts/TAccountEditorView.g.i.cs
dashboard/obj/Debug/ViewModels/Accounts/TAccountEditorView.g.cs
dashboard/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
dashboard/obj/Debug/Setup/TSetupPage3View.g.cs
dashboard/obj/Debug/Setup/TSetupPage3-2View.g.i.cs
dashboard/obj/Debug/Setup/TSetupImportCompleteView.g.cs
dashboard/obj/Debug/ViewModels/Security/TSetupPersonalPinView.g.cs
dashboard/obj/Debug/ViewModels/Security/TSecurityManagerView.g.i.cs
dashboard/obj/Debug/ViewModels/Security/TSecurityManagerView.g.cs
dashboard/obj/Debug/ViewModels/Security/TRequireAnApplicationPasswordView.g.i.cs
dashboard/obj/Debug/ViewModels/Security/TRequireAnApplicationPasswordView.g.cs
dashboard/obj/Debug/ViewModels/Security/TPinInputUserControl.g.i.cs
dashboard/obj/Debug/ViewModels/Security/TPinInputUserControl.g.cs
dashboard/obj/Debug/ViewModels/Security/TPersonalPinEditorView.g.i.cs
dashboard/obj/Debug/ViewModels/MagicLock/TPcLockerEditorView.g.cs
dashboard/obj/Debug/ViewModels/MagicLock/TPasswordEditorView.g.i.cs
dashboard/obj/Debug/ViewModels/MagicLock/TPasswordEditorView.g.cs
dashboard/obj/Debug/ViewModels/MagicLock/TMagicLockManagerView.g.i.cs
dashboard/obj/Debug/ViewModels/MagicLock/TMagicLockManagerView.g.cs
dashboard/obj/Debug/ViewModels/Accounts/TAddNewAccountView.g.i.cs
dashboard/obj/Debug/ViewModels/Accounts/TAddNewAccountView.g.cs
